<!DOCTYPE html>
<html>
    <head>
        <title>Inserir</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Nova Pessoa</h1>
        <div class="well">
            <form #formPessoa="ngForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" 
                           [(ngModel)]="pessoa.nome" #nome="ngModel"
                           name="nome" minlength="2" required>
                    <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                        <div [hidden]="!nome.errors['required']">Digite o nome da pessoa.</div>
                        <div [hidden]="!nome.errors['minlength']">O nome deve conter ao menos 2 caracteres</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="text" class="form-control" id="idade" name="idade" 
                           [(ngModel)]="pessoa.idade"
                           #idade="ngModel"
                           required>
                    <div *ngIf="idade.errors && (idade.dirty || idade.touched)" class="alert alert-danger">
                        <div [hidden]="!idade.errors['required']">Digite a idade da pessoa.</div>
                    </div>                    
                </div>

                <div class="form-group">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" 
                           [(ngModel)]="pessoa.dataNascimento"
                           #dataNascimento="ngModel"
                           required>
                    <div *ngIf="dataNascimento.errors && (dataNascimento.dirty || dataNascimento.touched)" class="alert alert-danger">
                        <div [hidden]="!dataNascimento.errors['required']">Digite a data de nascimento da pessoa.</div>
                    </div>                    
                </div>                

                <div class="form-group">
                    <button type="button" class="btn btn-primary"
                            (click)="inserir()"
                            [disabled]="!formPessoa.form.valid">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                    <a class="btn btn-secondary" [routerLink]="['/pessoas']" style="margin: 1%;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                    </a>
                </div>                
            </form>
        </div>
    </body>    
</html>
