<!DOCTYPE html>
<html>
    <head>
        <title>Inserir</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Nova Pessoa</h1>
        <div class="well">
            <form>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" 
                           name="nome" minlength="2" required>
                    <div class="alert alert-danger">
                        <div>Digite o nome da pessoa</div>
                        <div>O nome deve conter ao menos 2 caracteres</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="text" class="form-control" id="idade" name="idade" required>
                    <div class="alert alert-danger">
                        <div>Digite a idade da pessoa.</div>
                    </div>                    
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                    <a class="btn btn-secondary">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                    </a>
                </div>                
            </form>
        </div>
    </body>    
</html>
