<!DOCTYPE html>
<html>
    <head>
        <title>Atualizar</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Nova Pessoa</h1>
        <div *ngIf="mensagem.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">{{mensagem}}</h4>
            <p>{{mensagem_detalhes}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>          
        <div class="well">
            <form #formPessoa="ngForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" 
                           [(ngModel)]="pessoa.nome" #nome="ngModel"
                           name="nome" minlength="2" required>
                    <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                        <div [hidden]="!nome.errors['required']">Digite o nome da pessoa.</div>
                        <div [hidden]="!nome.errors['minlength']">O nome deve conter ao menos 2 caracteres</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="text" class="form-control" id="idade" name="idade" 
                           [(ngModel)]="pessoa.idade"
                           #idade="ngModel"
                           required
                           numerico
                           minimo
                           valorMinimo="18">
                    <div *ngIf="idade.errors && (idade.dirty || idade.touched)" class="alert alert-danger">
                        <div [hidden]="!idade.errors['minimo']">Idade deve ser maior ou igual a {{idade.errors['requiredValue']}}.</div>
                    </div>                    
                </div>

                <div class="form-group">
                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" 
                           [(ngModel)]="pessoa.dataNascimento"
                           #dataNascimento="ngModel"
                           mask="d0/M0/0000"
                           required>
                    <div *ngIf="dataNascimento.errors && (dataNascimento.dirty || dataNascimento.touched)" class="alert alert-danger">
                        <div [hidden]="!dataNascimento.errors['required']">Digite a data de nascimento.</div>
                    </div>                    
                </div>
                
                <div class="form-group">
                    <table border="0">
                        <tr>
                            <td rowspan="4" style="vertical-align: top;">
                                <label for="motorista">Cart. Motorista</label>
                            </td>
                            <td>
                                <input type="radio" class="form-check-input" id="motorista1"
                                name="motorista" [(ngModel)] = "pessoa.motorista"
                                #motorista1="ngModel" value="Não"> Não
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="form-check-input" id="motorista2" name="motorista"
                                [(ngModel)]="pessoa.motorista" #motorista2="ngModel" value="A">A
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="form-check-input" id="motorista3" name="motorista"
                                [(ngModel)]="pessoa.motorista" #motorista3="ngModel" value="B">B
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="form-check-input" id="motorista4" name="motorista"
                                [(ngModel)]="pessoa.motorista" #motorista4="ngModel" value="AB">AB
                            </td>
                        </tr>
                    </table>
                </div>                

                <div class="form-group">
                    <button type="button" class="btn btn-primary"
                            (click)="atualizar()"
                            [disabled]="!formPessoa.form.valid || botaoDesabilitado">
                        <i class="fa fa-save" aria-hidden="true"></i> Atualizar
                    </button>
                    <a class="btn btn-secondary" [routerLink]="['/pessoas']" style="margin: 1%;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                    </a>
                </div>                
            </form>
        </div>
    </body>    
</html>
