<!DOCTYPE html>
<html>
    <head>
        <title>Inserir</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Editar Estado</h1>
        <div class="well">
            <form #formEstado="ngForm">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" 
                           [(ngModel)]="estado.nome" #nome="ngModel"
                           name="nome" minlength="2" required>
                    <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
                        <div [hidden]="!nome.errors['required']">Digite o nome da cidade.</div>
                        <div [hidden]="!nome.errors['minlength']">O nome deve conter ao menos 2 caracteres</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="estado">Sigla:</label>
                    <input type="text" class="form-control" id="estado" name="estado" 
                           [(ngModel)]="estado.sigla"
                           #sigla="ngModel"
                           required>
                    <div *ngIf="sigla.errors && (sigla.dirty || sigla.touched)" class="alert alert-danger">
                        <div [hidden]="!sigla.errors['required']">Digite a sigla.</div>
                    </div>                    
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary"
                            (click)="atualizar()"
                            [disabled]="!formEstado.form.valid">
                        <i class="fa fa-save" aria-hidden="true"></i> Salvar
                    </button>
                    <a class="btn btn-secondary" [routerLink]="['/estados/listar']" style="margin: 1%;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                    </a>
                </div>                
            </form>
        </div>
    </body>    
</html>
